
.banner_img {
    max-width: 100vw;
    object-fit: scale-down;
    height: 25rem;
    display: block;
    margin: auto;
    border: 5px solid rgba(114, 114, 114, 0.1);
    border-radius: .5rem !important;
}


.carasousel {
    margin: 8vh 1vw;
}


@media (max-width:768px) {
    .banner_img {
        object-fit: cover;
        height: 11.5rem;
    }
}